/ServidorCentral/nbproject/private/
/Cliente/nbproject/private/
/Cliente/build/
/ServidorCentral/build/
/ServidorCentral/dist/
/ClienteSeg/nbproject/private/
/ClienteSeg/build
/BancoComprador/nbproject/private/
/BancoVendedor/nbproject/private/
/BancoVendedor/build/
/BancoComprador/build/
/PruebaConexionPhp/nbproject/private/
/PruebaConexionPhp/build/
/Cliente/dist/